node_modules
client-build
build.txt
config_build.json
config_local*
.DS_Store
*.swp
.project
.idea
browserquest.conf
*.sublime-project
*.sublime-workspace
shared/js/erdstall*
ts/*.js
nfts/sprites/1/*
nfts/sprites/2/*
nfts/sprites/3/*
ts/config/*